*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    background-color: gray;
    padding-top: 10px;
    justify-content: space-around;
    align-items: center;
}
.nav-container-title{
    color: aqua;
    margin-left: 300px;
}
.menus{
    list-style: none;
    display: flex;
    font-style: italic;
    gap: 15px;
}
.banner-container{
    height: 100vh;
    background-image: url('./asset/image/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
